
@media screen {
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    text-align: center;
    height: 100%;
    width: 100%;
    background-image: url('marble-background.jpg');
    background-size: 100% auto;
  }

/* layout */
  .flex-body {
    display: flex;
    align-content: stretch;
    width: 95%;
    flex-direction: row;
    flex-wrap: row wrap;
  }

  .flex-media {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: stretch;
    width: 60%;
    flex-direction: column;
    flex-wrap: column wrap;
  }

.flex-column {
    width: 80%;
    justify-content: center;
    background-color:#444444;
    opacity: 0.8;
    border: 25px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 10px auto;
    padding: 2.25%; /* 18px / 800px */
  }

  .flex-column--right {
      width: 90%;
      background-color:#ffffff;
      opacity: 0.8;
      border: 10px solid #444444;
      -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
      margin: 10px auto;
      padding: 2.25%; /* 18px / 800px */
    }

/* navigation */
.topnav {
   background-image: url('marble-banner.jpg');
   background-size: 100%;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
}

.topnav-items {
    display:inline-block;
    float: left;
    margin-right: 1px;
    cursor: default;
}

.topnav-items--right {
  max-height: 150px;
  float: right;
  padding-right: 25px;
  content:url('banner-logo.png');
}

.nav-link {
    display: inline-block;
    background: #262626;
    border: 1px solid #dcdcdc;
    margin-top: 95px;
    min-width: 205px;
    height: 50px;
    opacity: 0.8;
}

.nav-link a {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-family: "Raleway", sans-serif;
    color: #EDEBEB;
    text-decoration: none;
}

.nav-link:hover a {
    background: #f7f6ea;
    min-width: 205px;
    opacity: 0.8;
    color: #262626
  }

/* errors and alerts */
.flash {
    opacity: none;
    box-shadow: 0 10px 10px rgba(0,0,0,.3);
    font-family: "Raleway", sans-serif;
    font-size: 110%;
    background: #0000FF;
    text-align:center;
    color:white;
  }

  .error {
    font-family: "Raleway", sans-serif;
    color : red;
    width: 100%;
  }

  .field_with_errors {
      border: 1px solid red;
      display: inline; 
  }

/* text formatting */
  p {
    font-size: 90%;
  }
}
