// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-header {
  text-align: center;
  line-height: 30px;
  font-weight: 100;
  font-family: "Futura", sans-serif;
  color: #EDEBEB;
  background-color: #6ca1b8;
  text-decoration: none;
  font-size: 15px;
}

.product-description {
  text-align: center;
  line-height: 18px;
  font-weight: 100;
  font-family: "Futura", sans-serif;
  color: #262626;
  background-color: #EEEEEE;
  padding-top: 5px;
  text-decoration: none;
  font-size: 15px;
}
