<% @brands.each do |brand| %>
<% if brand.products.empty? %>
  <% else %>
  <h2><%= brand.name %><br></h2>
  <% brand.products.each do |product| %>
    <ol>
      <li><div class="load_product_names">
        <h3><a href="/products/<%=product.id%>"><%= product.name %></a></h3></div>
      </li>
    </ol>
    <% end %>
  <% end %>
<% end %>
