<% @brands.each do |brand| %>
<% if brand.products.empty? %>
  <% else %>
  <h2><%= brand.name %><br></h2>
  <% brand.products.each do |product| %>

      <h3><div class="load_product_names">
        <a href="/products/<%=product.id%>"><%= product.name %></a></div>
      </h3>
    <% end %>
    <br>

  <% end %>
<% end %>
