<div class="title">Latest Reviews
  </div><br>

<% @reviews.each do |review| %>
  <div class="review-header">
      <i><%= review.user.email%></i> left a review
    </div>
  <div class="review-content">"<%=review.title%>"

<br>
  <%= link_to "View Full Review", review_path(review.id) %>
</div>
<% end %>
