

<div class="title">Latest Reviews
  </div><br>

<div class="reviews-index">
<% @reviews.each do |review| %>
<div class="review-header">
<%= review.user.email%><br> left a review
</div>
  <div class="review-content">"<%=review.title%>"

<br>
  <%= link_to "View Full Review", review_path(review.id) %>
</div>
<% end %>
